In [54]:
%load_ext autoreload
%autoreload 2

import sys  
sys.path.insert(0, 'code')

import pandas as pd
import xlsxwriter
import os
import os.path as osp
import numpy as np

#my code
from load_utils import loadExcel
from sheet_number_of_travels import createSheetNumberOfTravels
from sheet_times import createSheetTimes
from sheet_number_of_cars import createSheetNumberOfCars, computeData, createFakeDataset
import yaml

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [244]:
with open('parameters.yaml') as f:
    params = yaml.safe_load(f)
N = params['number_of_cameras']

df_save = loadExcel('input/input.xlsx', N=params['number_of_cameras'])

In [257]:
df = df_save.copy(deep=True)
selectedDirections = [1,3,5]

In [268]:
if osp.isfile('out.xlsx'):
    os.remove('out.xlsx')

with open('parameters.yaml') as f:
    params = yaml.safe_load(f)
    
    writer = pd.ExcelWriter('out.xlsx', engine='xlsxwriter')
    createSheetTimes(df.copy(True), writer, params)
    writer.close()

time_a
time_b

In [238]:
writer.close()

In [261]:
temp = df
# print(len(temp))

temp = temp[temp['Direction'].isin(selectedDirections)]
# print(len(df))

# filter time
# temp = temp.set_index('Capture_time').between_time(startTime, endTime).reset_index()
# print(len(temp))

# filter unknown
temp = temp[temp['License_plate'] != 'unknown']
# print(len(temp))

# add fake data to assure that everything goes smoothly
fake_data = {'License_plate': [], 'Capture_time': [], 'Direction': []}
for i, dire in enumerate(selectedDirections):
    fake_data['License_plate'].append('FakeSPZ')
    fake_data['Capture_time'].append(pd.to_datetime(f'00:{i:02d}'))
    fake_data['Direction'].append(dire)
fake_df = pd.DataFrame().from_dict(fake_data)
temp = temp.append(fake_df, ignore_index=True)

In [262]:
temp.sort_values(by=['License_plate', 'Capture_time']).head(50)

      License_plate        Capture_time  Direction
13776      000J#RR# 2021-10-07 18:25:12          5
11885      000KABAT 2021-10-07 14:10:33          5
5659       001M0USS 2021-10-07 13:26:16          3
1561       001MOUSS 2021-10-07 17:50:13          1
8690       001MOUSS 2021-10-07 17:51:40          3
4285       001TVIN1 2021-10-07 11:26:51          3
7940       007LADYZ 2021-10-07 16:47:27          3
12671      0111II11 2021-10-07 16:05:18          5
3111        01V5196 2021-10-07 09:37:46          3
12190       0SB6326 2021-10-07 15:01:32          5
9401       103MILAN 2021-10-07 18:59:25          3
5789        1118447 2021-10-07 13:37:32          3
8566        1127628 2021-10-07 17:41:46          3
8702        11L2588 2021-10-07 17:52:54          3
5634        1216362 2021-10-07 13:23:10          3
4523         1367JE 2021-10-07 11:45:36          3
4248       13915758 2021-10-07 11:22:58          3
3259       13915768 2021-10-07 09:51:42          3
9486       140D1712 2021-10-07 19:08:29          3
9995        14T8411 2021-10-07 20:10:39          3
9737        14U2123 2021-10-07 19:31:30          3
9685        1509388 2021-10-07 19:26:03          3
5618        1512827 2021-10-07 13:21:38          3
4932        1512913 2021-10-07 12:22:24          3
9752        1521588 2021-10-07 19:34:41          3
9461        1521591 2021-10-07 19:05:39          3
6864        1559159 2021-10-07 15:10:35          3
3394        1570441 2021-10-07 10:05:58          3
8650        1573193 2021-10-07 17:48:24          3
8970        15D1966 2021-10-07 18:17:54          3
5759        15M8787 2021-10-07 13:33:46          3
5655        15M8835 2021-10-07 13:25:12          3
9104        15N3680 2021-10-07 18:29:19          3
8784        15N7628 2021-10-07 18:00:38          3
8524        15P7590 2021-10-07 17:38:46          3
7222        15T3692 2021-10-07 15:42:32          3
9161        15Z3353 2021-10-07 18:34:03          3
13864      168FS168 2021-10-07 18:38:35          5
14075      168FS168 2021-10-07 19:19:32          5
11667      17777778 2021-10-07 13:25:13          5
12818       1802843 2021-10-07 16:23:09          5
9249        1803905 2021-10-07 18:42:28          3
9851        1819537 2021-10-07 19:47:11          3
502         1866584 2021-10-07 16:28:09          1
4141        19X7133 2021-10-07 11:14:22          3
6342        1A00722 2021-10-07 14:24:22          3
13503       1A03846 2021-10-07 17:48:07          5
12634       1A04406 2021-10-07 15:58:19          5
8193        1A07760 2021-10-07 17:08:52          3
2525      1A1-NAP11 2021-10-07 08:35:07          3

In [254]:
df

      License_plate        Capture_time  Direction
0           2SH9059 2021-10-07 15:46:56          1
1           1SZ2343 2021-10-07 15:47:03          1
2           7A14682 2021-10-07 15:47:05          1
3           unknown 2021-10-07 15:47:08          1
4           4SM3348 2021-10-07 15:47:15          1
...             ...                 ...        ...
86438       IUC8127 2021-10-07 19:57:51         18
86439       2P52320 2021-10-07 20:07:43         18
86440       2AC0276 2021-10-07 20:15:21         18
86441       6AV9287 2021-10-07 20:15:23         18
86442       7C97209 2021-10-07 20:16:07         18

[86443 rows x 3 columns]

In [210]:
fake_df.dtypes

License_plate            object
Capture_time     datetime64[ns]
Direction                 int64
dtype: object

In [58]:
# add fake data to force dataframe layout, aka have at least one entry for every possible combination
fake_df = createFakeDataset(params['number_of_cameras'])
df = df.append(fake_df, ignore_index=True)

# separate dataset into two parts based on license plate count
plate_counts = df["License_plate"].value_counts()
plate_counts['unknown'] = 0  # fake unknown values, so they are selected into single dataset
plate_count = plate_counts[plate_counts > 1]

df_multiple = df[df['License_plate'].isin(plate_count.index)]
df_single = df[~df['License_plate'].isin(plate_count.index)]

# create another dataset moved by one and merge it. Aka create pairs of all following directions
df_multiple = df_multiple.sort_values(by=['License_plate', 'Capture_time']).reset_index(drop=True)
df_multiple['joinIndex'] = df_multiple.index
df_multiple_moved = df_multiple.copy(deep=True)
df_multiple_moved['joinIndex'] = df_multiple_moved.index - 1
df_multiple_join = df_multiple.merge(df_multiple_moved, how='inner', on=['joinIndex', 'License_plate'],
                                     suffixes=['_from', '_to'])

In [63]:
df_multiple_join[(df_multiple_join['Direction_from'] == 13) & (df_multiple_join['Direction_to'] == 18)]

Empty DataFrame
Columns: [License_plate, Capture_time_from, Direction_from, joinIndex, Capture_time_to, Direction_to]
Index: []

In [64]:
fake_df

           Capture_time License_plate  Direction
0   2021-10-28 00:00:00        fake_1          1
1   2021-10-28 00:00:00      fake_1_1          1
2   2021-10-28 01:00:00      fake_1_1          1
3   2021-10-28 00:00:00      fake_1_2          1
4   2021-10-28 01:00:00      fake_1_2          2
..                  ...           ...        ...
625 2021-10-28 01:00:00    fake_18_15         15
626 2021-10-28 00:00:00    fake_18_16         18
627 2021-10-28 01:00:00    fake_18_16         16
628 2021-10-28 00:00:00    fake_18_17         18
629 2021-10-28 01:00:00    fake_18_17         17

[630 rows x 3 columns]